streamlit 
langchain 
langchain_ollama
selenium
beautifulsoup4
lxml 
html5lib
python-dotenv
requests>=2.25.0
python-dotenv 
pandas>=1.3.0
numpy>=1.20.0
scikit-learn>=1.0.0
xgboost
yfinance
matplotlib>=3.4.0
seaborn>=0.11.0
joblib>=1.0.0
tqdm>=4.60.0
python-dateutil>=2.8.0
pytz>=2021.1